<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="MindtekTestNGFramework">
    <test name="UI Automation">
        <groups>
            <run>
                <include name="testbase"/>
                <include name="regression"/>
<!--                <exclude name="positive"/>-->
            </run>
        </groups>
        <classes>
            <class name="tests.FrameworkTest"/>
            <class name="tests.SmartbearLoginTest"/>
            <class name="tests.BlazedemoCitiesTest"/>
            <class name="tests.SaucedemoLoginTest"/>
            <class name="tests.MagentoSignUpTest"/>
            <class name="tests.SaucedemoSortingTest"/>
        </classes>
    </test>

</suite>